<div class="banner">
  <div class="banner-text">
    <h1><%= @list.name %></h1>
  </div>
</div>
<div class="bookmark-grid">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="bookmark-card">
      <div class="wrapper">
        <div class="box-area">
          <div class="box">
            <%= image_tag bookmark.movie.poster_url, alt: "text" %>
            <div class="overlay">
              <p><%= bookmark.comment %></p>
              <span><%= bookmark.movie.rating %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= link_to "Add Bookmark", new_list_bookmark_path(@list) %>
